/* iCheck plugin Minimal skin, black
----------------------------------- */
.icheckbox,
.iradio {
    display: inline-block;
    *display: inline;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 26px;
    height: 26px;
    background: url(https://eng.nis.go.kr/resources/img/bg/bg-minimal.png) no-repeat;
    border: none;
    cursor: pointer;
}

.icheckbox {
    background-position: 0 0;
}
    .icheckbox.hover {
        background-position: -28px 0;
    }
    .icheckbox.checked {
        background-position: -56px 0;
    }
    .icheckbox.disabled {
        background-position: -60px 0;
        cursor: default;
    }
    .icheckbox.checked.disabled {
        background-position: -80px 0;
    }

.iradio {
    background-position: -84px 0;
}
    .iradio.hover {
        background-position: -112px 0;
    }
    .iradio.checked {
        background-position: -140px 0;
    }
    .iradio.disabled {
        background-position: -168px 0;
        cursor: default;
    }
    .iradio.checked.disabled {
        background-position: -180px 0;
    }

/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi), (min-resolution: 1.25dppx) {
    .icheckbox,
    .iradio {
        background-image: url(https://eng.nis.go.kr/resources/img/bg/bg-minimal@2x.png);
        -webkit-background-size: 82px 26px;
        background-size: 82px 26px;
    }
}